# Chapter 4 Building Good Training Sets - Data Preprocessing

## 1. Dealing with missing data

### Dropping incomplete data

In [31]:
import pandas as pd
from io import StringIO
csv_data = '''
A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
0.0,11.0,12.0
'''
df = pd.read_csv(StringIO(csv_data))
df

     A     B     C    D
0  1.0   2.0   3.0  4.0
1  5.0   6.0   NaN  8.0
2  0.0  11.0  12.0  NaN

In [32]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [33]:
df.dropna()

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [34]:
df.dropna(axis=1)

     A     B
0  1.0   2.0
1  5.0   6.0
2  0.0  11.0

In [35]:
df.dropna(subset=['C'])

     A     B     C    D
0  1.0   2.0   3.0  4.0
2  0.0  11.0  12.0  NaN

### Imputing missing values

In [37]:
from sklearn.preprocessing import Imputer
imr = Imputer(missing_values = 'NaN', strategy='mean', axis=0)
imr = imr.fit(df)
imputed_data = imr.transform(df.values)
imputed_data

array([[  1. ,   2. ,   3. ,   4. ],
       [  5. ,   6. ,   7.5,   8. ],
       [  0. ,  11. ,  12. ,   6. ]])